<div class="container col-md-5">
    <div class="col-md-6 form-group">
        <input  [(ngModel)]="searchValue" placeholder="Trazi">
    </div>
    <div class="col-md-6 form-group">
        <select name="color" class="form-control" [(ngModel)]="searchValueDrop">
            <option selected disabled>Choose...</option>
            <option [ngValue]="color.key" *ngFor="let color of colors" >{{color.label}}</option>
        </select>
    </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>Nutrition value: </th>
      <th>Weight: </th>
      <th>Color: </th>
      <th>Image:</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jagoda of jagodeModel.jagode | filterPipe:'searchValue':'searchValueDrop'">
      <td><button type="button" class="btn btn-primary" (click)="otvoriJagodu(jagoda.id)">Otvori</button></td>
      <td>{{jagoda.id}}</td>
      <td>{{jagoda.nutritionValue}}</td>
      <td>{{jagoda.weight}}</td>
      <td>{{jagoda.color}}</td>
      <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0watSjX9jWP0CVTrhhcJw-yrRvzt3K3byuHMd8ezge1nUnaed" width="60px" height="70px"></td>
      <td><button type="button" class="btn btn-success" (click)="editujJagodu(jagoda.id)">Edituj</button></td>
      <td><button type="button" class="btn btn-danger" (click)="deleteJagoda(jagoda.id)">Obrisi</button></td>
    </tr>
  </tbody>
</table>