<div>
    <h1>Jedna jagoda</h1>
</div>
<ul class="nav nav-pills">
    <li role="presentation">
        <a [routerLink]="('/jagode/'+id+'/info')">Informacije</a>
    </li>
    <li role="presentation">
        <a [routerLink]="('/jagode/'+id+'/edit')">Editing</a>
    </li>
</ul>
<router-outlet></router-outlet>