<div class="col-md-12">
    <h3>Da li ste sigurni da zelite da obrisete jagodu ID - {{id}}?</h3>
    <button class="btn btn-warning" (click)="deleteJagoda()">Da</button>
    <button class="btn btn-primary" routerLink="/jagode">Ne</button>
</div>