<form class="container">
    <div class="form-group">
        <label>Nutrition value</label>
        <input type="number" class="form-control" name="nutritionValue" placeholder="Nutrition value" [(ngModel)]="nutritionValue">
    </div>
    <div class="form-group">
        <label>Weight</label>
        <input class="form-control" name="weight" placeholder="Weight" [(ngModel)]="weight">
    </div>
    <div class="form-group">
        <label>Color</label>
        <select name="color" class="form-control" [(ngModel)]="boja">
            <option selected disabled>Choose...</option>
            <option [ngValue]="color.key" *ngFor="let color of colors">{{color.label}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" (click)="sacuvajJagodu()">Sacuvaj</button>
</form>