<div>
        <h3>Id: <b>{{id}}</b></h3>
        <h4>Nutrition value: <b>{{nutritionValue}}</b> </h4>
        <h4>Weight: <b>{{weight}}</b></h4>
        <button [style.background-color]="boja" style="color:white;font-weight:bold;">Color</button>
    </div>